@using BlazorClient.Constants
@using BlazorClient.Services.IdentityManagement

@page "/"
@page "/register"
@page "/resetpassword"

@inject NavigationManager  NavigationManager
@inject IUserService  UserService

<div class="App">
  <div class="App__Aside">
    <div class="logo"></div>
    <div class="slide-container">
      <div class="each-slide">
        <div>
          <span>Nesedí ti rozvrh? Nevadí! SWAPIFY ti pomôže</span>
        </div>
      </div>
      <div class="each-slide">
        <div>
          <span>Vymeniť si „cvičenia“ nikdy nebolo ľahšie</span>
        </div>
      </div>
      <div class="each-slide">
        <div>
          <span>SWAPIFY ti ponúka prehľadnosť, komplexnosť a jednoduchosť</span>
        </div>
      </div>
    </div>
  </div>

  <div class="App__Form">
    <div class="PageSwitcher">
      <NavLink href="/" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item" Match="NavLinkMatch.All">Prihlásenie</NavLink>
      <NavLink href="/register" activeClass="PageSwitcher__Item--Active" class="PageSwitcher__Item">Registrácia</NavLink>
    </div>


    @if (NavigationManager.EqualsRelativeUri(@"register"))
    {
      <Registration></Registration>
    }
    else if (NavigationManager.EqualsRelativeUri(@"resetpassword"))
    {
      <ResetPassword></ResetPassword>
    }
    else
    {
      <Login></Login>
    }

    <div class="HomeFooter">
      <NavLink href="/aboutus" class="FormField__Link">O nás</NavLink>
    </div>
  </div>

</div>

@code
{
  protected override async Task OnInitializedAsync()
  {
    var authenticatedUser = await UserService.GetAuthenticatedUserAsync();
    if (authenticatedUser != null)
    {
      NavigationManager.NavigateTo(Routes.TIMETABLE);
      return;
    }
    NavigationManager.LocationChanged += OnLocationChanged;
  }

  private void OnLocationChanged(object sender, LocationChangedEventArgs arg)
  {
    StateHasChanged();
  }
}
