@using BlazorClient.ViewModels;
@using BlazorClient.Services;
@using BlazorClient.Models.Timetable;

@inject TimetableBlocksConverter TimetableBlockConverter;
@inject ISwapifyAPI SwapifyAPI;
@inject ITimetableService TimetableService;
@inject IUserService  UserService;

<div class="timetable">
  <div class="border-cell"></div>

  <div class="timetable-hours">
    @foreach (var hour in Constants.Timetable.HOURS)
    {
      <div class="border-cell centered">@hour</div>
    }
  </div>

  <div class="timetable-days">
    @foreach (var day in Constants.Timetable.DAYS)
    {
      <div class="border-cell">@day</div>
    }
  </div>

  <div class="border-cells">
    @for (int row = 0; row < Constants.Timetable.DAYS.Length; row++)
    {
      @for (int column = 0; column < Constants.Timetable.HOURS.Length; column++)
      {
        <div class="border-cell"></div>
      }
    }
  </div>

  <TimetableBlocks ViewModel="@_timetableBlocksViewModel"></TimetableBlocks>
</div>

@code
{
    private TimetableBlocksViewModel _timetableBlocksViewModel = new TimetableBlocksViewModel();

    protected override async Task OnInitializedAsync()
    {
      await base.OnInitializedAsync();
      var email = UserService.User.Email;
      var timetable = await TimetableService.SetTimetable(email);
      InitializeTimetable(timetable);
      TimetableService.TimetableChanged += InitializeTimetable;
    }

    private void InitializeTimetable(TimetableModel timetable)
    {      
      var timetableBlocks = timetable.Blocks;

      _timetableBlocksViewModel = TimetableBlockConverter.CreateTimetableBlocksViewModel(
        timetableBlocks,
        Constants.Timetable.DAYS.Length,
        Constants.Timetable.HOURS.Length);
    }


}
