.checkbox-eye {
  position: relative;
  overflow: hidden;
  padding: 0.5em;
  svg {
    position: absolute;
    height: 1em;//100p
  }
  input {
    display: none;
  }
  label {
    font-size: 1em;
    padding-left: 1.8em;
  }
}
