@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject ISwapifyAPI swapifyApi
@inject IWebStorage webStorage

<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />

  <p>
    <MatTextField Label="Email" @bind-Value="loginModel.Email" />
    <ValidationMessage For="@(()=> loginModel.Email)" />
  </p>

  <p>
    <MatTextField Label="Heslo" @bind-Value="loginModel.Password" Type="password" />
    <ValidationMessage For="@(()=> loginModel.Password)" />
  </p>

  <MatButton Type="submit" Raised="true">Prihlásiť</MatButton>
</EditForm>

@code {
  private LoginModel loginModel = new LoginModel();

  private async void HandleValidSubmit()
  {
    var authenticatedUserModel = await swapifyApi.User.Login(loginModel);
    await webStorage.SetAsync("user", authenticatedUserModel);
  }
}
