@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject ISwapifyAPI swapifyApi
@inject IWebStorage webStorage
@inject NavigationManager  NavigationManager

<EditForm Model="@loginModel" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />

  <div className="FormField">
    <MatTextField Label="Email" @bind-Value="loginModel.Email" class="FormField__Label" FullWidth="true" />
    <ValidationMessage For="@(()=> loginModel.Email)" />
  </div>

  <div className="FormField">
    <MatTextField Label="Heslo" @bind-Value="loginModel.Password" Type="password" class="FormField__Label" FullWidth="true" />
    <ValidationMessage For="@(()=> loginModel.Password)" />
  </div>

  <div className="FormField">
    <button Type="submit" Raised="true" Class="FormField__Button">Prihlásiť</button>
  </div>

  <div className="FormField">
    <NavLink href="/resetpassword" class="FormField__Link">Resetovať heslo</NavLink>
  </div>
</EditForm>

@code {
  private LoginModel loginModel = new LoginModel();

  private async void HandleValidSubmit()
  {
    var authenticatedUserModel = await swapifyApi.User.Login(loginModel);
    await webStorage.SetAsync("user", authenticatedUserModel);
    NavigationManager.NavigateTo(Routes.TIMETABLE);
  }
}
