@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject ISwapifyAPI swapifyApi

<EditForm Model="@resetPasswordModel" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />

  <div className="FormField">
    <MatTextField Label="Email" @bind-Value="resetPasswordModel.Email" class="FormField__Label" FullWidth="true" />
    <ValidationMessage For="@(()=> resetPasswordModel.Email)" />
  </div>

  <div className="FormField">
    <button Type="submit" Raised="true" Class="FormField__Button">Resetovať</button>
  </div>

  <div className="FormField">
    <NavLink href="/" class="FormField__Link">Späť na login</NavLink>
  </div>
</EditForm>

@code {
  private ResetPasswordModel resetPasswordModel = new ResetPasswordModel();

  private async void HandleValidSubmit()
  {
    bool successful = await swapifyApi.User.ResetPassword(resetPasswordModel);
  }
}
