@page "/set-new-password/{userid}/{token}"
@using BlazorClient.Models.UserModels
@using BlazorClient.Services

@inject ISwapifyAPI swapifyApi

<EditForm Model="@setNewPasswordModel" OnValidSubmit="@HandleValidSubmit">
  <DataAnnotationsValidator />

  <div className="FormField">
    <MatTextField Label="Nové heslo" @bind-Value="setNewPasswordModel.Password" Type="password" class="FormField__Label" FullWidth="true" />
    <ValidationMessage For="@(()=> setNewPasswordModel.Password)" />
  </div>

  <div className="FormField">
    <MatTextField Label="Potvrdenie hesla" @bind-Value="setNewPasswordModel.PasswordAgain" Type="password" class="FormField__Label" FullWidth="true" />
    <ValidationMessage For="@(()=> setNewPasswordModel.PasswordAgain)" />
  </div>

  <div className="FormField">
    <button Type="submit" Raised="true" Class="FormField__Button">Resetovať</button>
  </div>
</EditForm>

@code {
  private SetNewPasswordModel setNewPasswordModel = new SetNewPasswordModel();

  [Parameter]
  public string UserId
  {
    get => setNewPasswordModel.UserId;
    set
    {
      setNewPasswordModel.UserId = value;
    }
  }

  [Parameter]
  public string Token
  {
    get => setNewPasswordModel.Token;
    set
    {
      setNewPasswordModel.Token = value;
    }
  }

  private async void HandleValidSubmit()
  {
    bool ok = await swapifyApi.User.SetNewPassword(setNewPasswordModel);
  }
}
