$padding: 8px;
$icon-size: 32px;

.user {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  padding: $padding;
  .info {
    .name {
      font-size: 18px;
      line-height: 18px;
    }
    .email {
      margin-top: 3px;
      font-size: 11px;
      line-height: 11px;
    }
  }
  .icon {
    margin-left: $padding;
    width: $icon-size;
    height: $icon-size;
    line-height: $icon-size;
    text-align: center;
    font-size: $icon-size / 2;
    color: #ffffff;
    background-color: #512da8;
    border-radius: 50%;
  }
}
