<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace"
      internalLogFile="nlog-internal.log">
  <!--See documentation:-->
  <!-- https://github.com/nlog/NLog/wiki/Configuration-file -->
  <targets>
    <target xsi:type="File" name="file" fileName="${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
    <!--Skip non-critical Microsoft logs-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" />
  </rules>
</nlog>
