@page "/timetable"
@using BlazorClient.ViewModels;
@using BlazorClient.Models.Timetable;
@using BlazorClient.Services;

@inject TimetableBlocksConverter TimetableBlockConverter;

<div class="timetable">
  <div class="border-cell"></div>

  <div class="timetable-hours">
    @foreach (var hour in Constants.Timetable.HOURS)
    {
      <div class="border-cell centered">@hour</div>
    }
  </div>

  <div class="timetable-days">
    @foreach (var day in Constants.Timetable.DAYS)
    {
      <div class="border-cell">@day</div>
    }
  </div>

  <div class="border-cells">
    @for (int row = 0; row < Constants.Timetable.DAYS.Length; row++)
    {
      @for (int column = 0; column < Constants.Timetable.HOURS.Length; column++)
      {
        <div class="border-cell"></div>
      }
    }
  </div>

  <TimetableBlocks ViewModel="@_timetableBlocksViewModel"></TimetableBlocks>
</div>

@code
{
    private TimetableBlocksViewModel _timetableBlocksViewModel;

    protected override void OnInitialized()
    {
      base.OnInitialized();
      _timetableBlocksViewModel = TimetableBlockConverter.CreateTimetableBlocksViewModel(
        GetTestTimetableBlockModels(),
        Constants.Timetable.DAYS.Length,
        Constants.Timetable.HOURS.Length);
    }

    private IEnumerable<TimetableBlockModel> GetTestTimetableBlockModels()
    {
      return new List<TimetableBlockModel>()
  {
      new TimetableBlockModel()
        {
        CourseShortcut = "test shortcut",
        Room = "test room",
        Teacher = "test teacher",
        Day = 1,
        StartBlock = 2,
        EndBlock = 4
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 1",
        Room = "test room 1",
        Teacher = "test teacher 1",
        Day = 1,
        StartBlock = 2,
        EndBlock = 4
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 2",
        Room = "test room 2",
        Teacher = "test teacher 2",
        Day = 1,
        StartBlock = 3,
        EndBlock = 5
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 3",
        Room = "test room 3",
        Teacher = "test teacher 3",
        Day = 1,
        StartBlock = 3,
        EndBlock = 5
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 4",
        Room = "test room 4",
        Teacher = "test teacher 4",
        Day = 3,
        StartBlock = 2,
        EndBlock = 4
      },      
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 5",
        Room = "test room 5",
        Teacher = "test teacher 5",
        Day = 3,
        StartBlock = 3,
        EndBlock = 5
      },      
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 6",
        Room = "test room 6",
        Teacher = "test teacher 6",
        Day = 3,
        StartBlock = 4,
        EndBlock = 6
      },      
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 7",
        Room = "test room 7",
        Teacher = "test teacher 7",
        Day = 3,
        StartBlock = 6,
        EndBlock = 8
      }

    };
    }    
}
