@page "/timetable"
@using BlazorClient.ViewModels;
@using BlazorClient.Models.Timetable;

<div class="timetable">
  <div class="border-cell"></div>

  <div class="timetable-hours">
    @foreach (var hour in Constants.Timetable.HOURS)
    {
      <div class="border-cell centered">@hour</div>
    }
  </div>

  <div class="timetable-days">
    @foreach (var day in Constants.Timetable.DAYS)
    {
      <div class="border-cell">@day</div>
    }
  </div>

  <div class="border-cells">
    @for (int row = 0; row < Constants.Timetable.DAYS.Length; row++)
    {
      @for (int column = 0; column < Constants.Timetable.HOURS.Length; column++)
      {
        <div class="border-cell"></div>
      }
    }
  </div>

  <TimetableBlocks ViewModel="@_timetableBlocksViewModel"></TimetableBlocks>
</div>

@code
{
    private TimetableBlocksViewModel _timetableBlocksViewModel;

    protected override void OnInitialized()
    {
      base.OnInitialized();
      _timetableBlocksViewModel = CreateTimetableBlocksViewModel(
        GetTestTimetableBlockModels(),
        Constants.Timetable.DAYS.Length,
        Constants.Timetable.HOURS.Length);
    }

    private IEnumerable<TimetableBlockModel> GetTestTimetableBlockModels()
    {
      return new List<TimetableBlockModel>()
  {
      new TimetableBlockModel()
        {
        CourseShortcut = "test shortcut",
        Room = "test room",
        Teacher = "test teacher",
        Day = 1,
        StartBlock = 2,
        EndBlock = 4
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 1",
        Room = "test room 1",
        Teacher = "test teacher 1",
        Day = 1,
        StartBlock = 2,
        EndBlock = 4
      },
      new TimetableBlockModel()
      {
        CourseShortcut = "test shortcut 2",
        Room = "test room 2",
        Teacher = "test teacher 2",
        Day = 3,
        StartBlock = 2,
        EndBlock = 4
      }
    };
    }    

    private static TimetableBlocksViewModel CreateTimetableBlocksViewModel(IEnumerable<TimetableBlockModel> blockModels, int rowsCount, int columnsCount)
    {
      var timetableBlocks = CreateTimetableBlockViewModels(blockModels, out var rowHeight);
      return new TimetableBlocksViewModel()
      {
        ColumnsCount = (byte)columnsCount,
        RowsCount = (byte)(rowsCount * rowHeight),
        TimetableBlocks = timetableBlocks
      };
    }

    private static IEnumerable<TimetableBlockViewModel> CreateTimetableBlockViewModels(IEnumerable<TimetableBlockModel> blocks, out int rowHeight)
    {
      // group by day and startBlock
      var blocksGroupedByStart = blocks
          .GroupBy(block => (block.Day, block.StartBlock))
          .OrderBy(group => group.Key);

      // TODO order by day, startBlock, endBlock, course
      rowHeight = blocksGroupedByStart.Select(group => group.Count()).Lcm();

      var blockViewModels = new List<TimetableBlockViewModel>();
      foreach (var group in blocksGroupedByStart)
      {
        var blockHeight = rowHeight / group.Count();
        foreach (var (block, index) in group.WithIndex())
        {
          var startLine = (block.Day - 1) * rowHeight + index * blockHeight + 1;
          blockViewModels.Add(new TimetableBlockViewModel(block)
          {
            StartColumn = (byte)block.StartBlock,
            EndColumn = (byte)block.EndBlock,
            StartRow = (byte)startLine,
            EndRow = (byte)(startLine + blockHeight)
          });
        }
      }
      return blockViewModels;
    }
}
