.App {
  height: 100vh;
  display: flex;
  color: white;
}

.App__Aside {
  width: 60% !important;
  background-color: white;
  overflow: auto;
}

.App__Form {
  width: 40%;
  background-color: #5EBED7;
  padding: 25px 40px;
  overflow: auto;
}

.PageSwitcher {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10%;
}

.PageSwitcher__Item {
  background-color: #28515b;
  color: white;
  padding: 10px 25px;
  cursor: pointer;
  font-size: .9em;
  border: none;
  outline: none;
  display: inline-block;
  text-decoration: none;
}

.PageSwitcher__Item--Active {
  background-color: white;
  color: #28515b;
}

.FormCenter {
  margin-bottom: 100px;
}

.FormTitle {
  color: white;
  font-weight: 300;
  margin-bottom: 50px;
}

.FormTitle__Link {
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7em;
  margin: 0 10px;
  padding-bottom: 5px;
}

.FormTitle__Link:first-child {
  margin-left: 0;
}

.FormTitle__Link--Active {
  color: white;
  border-bottom: 1px solid #4699c4;
}

.FormField {
  margin-bottom: 40px;
}

.FormField__Label {
  display: block;
  margin: .9em;
  text-transform: uppercase;
  font-size: .9em;
  color: white;
}

.FormField__Input {
  width: 85%;
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  border-bottom: 1px solid white;
  font-size: 1em;
  font-weight: 300;
  padding-bottom: 10px;
  margin-top: 10px;
}

.FormField__Input::placeholder {
  color: white;
}

.FormField__Button {
  background-color: #28515b;
  color: white;
  border: none;
  outline: none;
  padding: 15px 70px;
  font-size: .9em;
  font-weight: 500;
  float: right;
  cursor: pointer;
}

.FormField__Link {
  color: #28515b;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1.5px solid #28515b;
  padding-bottom: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

.FormField__CheckboxLabel {
  color: #28515b;
  font-size: 1.1em;
}

.FormField__Checkbox {
  position: relative;
  top: 1.5px;
  margin-right: 10px;
  transform: scale(2);
}

.FormField__TermsLink {
  color: white;
  border-bottom: 1px solid #199087;
  text-decoration: none;
  display: inline-block;
  padding-bottom: 2px;
  margin-left: 5px;
}

.logo {
  background: url('../../images/logo.png') center no-repeat;
  background-size: 40%;
  height: 150px;
  margin-bottom: 50px;
}


.slide-container {
  background: url('../../images/home-background.png') center no-repeat;
  background-size: 90%;
  text-align: center;
  margin: auto; 
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 600px;
}

.each-slide span {
  padding: 20px;
  font-size: 35px;
  background: white;
  color: black;
  -webkit-box-shadow: 10px 10px 17px 5px rgba(0,0,0,0.25);
  -moz-box-shadow: 10px 10px 17px 5px rgba(0,0,0,0.25);
  box-shadow: 10px 10px 17px 5px rgba(0,0,0,0.25);
}

