{
    "extends": "airbnb-base",
    "env": {
      "es6": true,
      "browser": true
    },
    "rules": {
      "indent": [
        "error",
        4
      ],
      "no-var": "error",
      "prefer-default-export": "off",
      "no-console": "off",
      "no-use-before-define": "off",
      "no-restricted-globals": "off",
      "import/no-cycle": "off",
      "no-unused-expressions": "off",
      "func-names": "off",
      "spaced-comment": "off",
      "no-shadow": "off",
      "no-plusplus": "off",
      "prefer-rest-params": "off",
      "prefer-spread": "off",
      "no-eval": "off",
      "no-underscore-dangle": "off",
      "no-undef": "off",
      "no-unused-vars": "off"
    },
    "globals": {
      "Feature": true,
      "Scenario": true,
      "Before": true,
      "locate": true,
      "actor": true,
      "highlight": true,
      "parseRef": true,
      "awaitRequests": true,
      "getElementByXpath": true,
      "$": true,
      "pause": true
    }
  }
  