.StudyGroup {
  background: url('../../images/home-background.png') center no-repeat;
  background-size: 80%;
}

.StudyGroup-wrapper {
  margin: auto;
  width: 20%;
  padding: 3em;
  background-color: #fff;
  box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, .36);
}

.fab {
  float: right;
  padding: 8em;
};
