$border-radius: .25em;
$size: 1em;

.block {
  position: relative;
  padding: $size;
  border-radius: $border-radius;
  border-style: solid;
  border-color: black;
  border-width: .08em;
  transition: 0.3s;
  opacity: 0;
  cursor: pointer;
  .name {
    display: inline-block;
    font-weight: bold;
    font-size: $size;
  }
  svg {
    width: $size;
    height: $size;
    margin-left: .25em;
  }

  .room,
  .teacher {
    font-size: .8em;
  }
  &.small {
    padding: .7em;
    .teacher {
      display: none;
    }
  }
  &.extrasmall {
    padding: .35em;
    .room {
      display: none;
    }
    .teacher {
      display: none;
    }
  }
  &.medium {
    .room {
      display: none;
    }
  }
}

.block.show{
  opacity:1;
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  border-radius: $border-radius;
  background-color: #fff;
}
