.block {
  position: relative;
  padding: 1em;
  border-radius: .25em;
  cursor: pointer;
  .name {
    display: inline-block;
    font-weight: bold;
    font-size: 1em;
  }
  svg {
    width: 1em;
    height: 1em;
    margin-left: .25em;
  }
  .room,
  .teacher {
    font-size: .8em;
  }
  &.small {
    padding: .7em;
    .room,
    .teacher {
      display: none;
    }
  }
  &.medium {
    .room {
      display: none;
    }
  }
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  opacity: .4;
}
