$border-radius: .25em;
$size: 1em;

.block {
  position: relative;
  padding: $size;
  border-radius: $border-radius;
  cursor: pointer;
  .name {
    display: inline-block;
    font-weight: bold;
    font-size: $size;
  }
  svg {
    width: $size;
    height: $size;
    margin-left: .25em;
  }
  .room,
  .teacher {
    font-size: .8em;
  }
  &.small {
    padding: .7em;
    .room,
    .teacher {
      display: none;
    }
  }
  &.medium {
    .room {
      display: none;
    }
  }
}

.opacity {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
  background: lightgray;
  border-radius: $border-radius;
  background-color: #fff;
}
